header {
  background-color: #f5f5f5;
  margin: 10px;
  padding: 10px; }
  header h1 {
    text-transform: uppercase;
    color: black;
    font-size: 25px; }
  header nav {
    margin: 10px; }
    header nav ul li {
      list-style: none; }
